:root {
    
    --border-radius: .3rem;
  }
body {
  margin: 0;
  background-image: url('../img/8ofthedecade.jpg');
  background-size: contain;
}

.hero {
    background-image: url("../img/youarewhatyoulistentoo4.jpg");
    background-size: cover;
    border: 0deg, rgba(245,136,92,1) 34%, rgba(253,187,45,1) 100% 15px;
    
}

h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #f5885c;
}
/* CARDS */
.card {
    margin: 0 0 0 0;
    border: 3px solid #f5885c;
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: #ffffff;
    background-color: #f5885c;
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
  }
  
  /* FORM */
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid #f5885c;
    border-radius: var(--border-radius);
  }

  .song-art {
    height: 100px;
    width: 100px;

  }

  .album-title {
    color: #f5885c;
    font-weight: bold;
  }

  .button {
    background-color: #f5885c;
    color: #ffffff;
    border: 2px solid #f5885c;
  }


  p {
    color: #f5885c;
    font-weight: bold;
}